 body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', Arial, sans-serif;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.page-header {
  margin-bottom: 60px;

  min-height: 320px;
  background-color: #f3f7f9
}

.page-header-logo{

  width: 220px;
  height: 42px;

  background-color: #ee3643;
  box-shadow: 0 5px 0px #b52933;
}

.page-header-logo img{
  position: relative;
   top: 12px;
   left: 54px;

}

.page-header-logo:hover{
  background-color: #ca2c37;
}

.page-header-logo:active{
  background-color: #ba2732;
}

.page-footer-logo {
  width: 220px;
  height: 63px;

  background-color: #ee3643;
  box-shadow: 0 5px 0px #b52933;
}

.page-footer-logo img {
   position: relative;
   top: 21px;
   left: 42px;

}

.page-footer-logo:hover{
  background-color: #ca2c37;
}

.page-footer-logo:active{
  background-color: #ba2732;
}

.page-header-wrapper-top {
  background-color: #32425c;
}

.page-header-top {
  height: 42px;

  margin-bottom: 0 auto;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.page-header-search-input {
  margin: 0 auto;
  padding: 0;


  flex-direction: row;
  justify-content: flex-start;

  width: 270px;

  background-color: #32425c;
  color: #ffffff;
  border: none;
}

.page-header-search-input:hover {
  background-color: #212a3a;
  color: #ffffff;
  border: none;
}

.page-header-search-input:focus {
  background-color: #ffffff;
  color: #000000;
  border: none;
}

.page-header-purchase {
  display: flex;

  list-style: none;
}

.page-header-purchase a {
  text-decoration: none;
  color: #ffffff;
}

.page-header-purchase-tab {
  width: 150px;
}

.page-header-purchase-tab:hover {
  background-color: #212a3a;
}

.page-header-purchase-tab:active {
  background-color: #161d29;
  color: #494c53;
}

.page-header-purchase-busket {
  width: 150px;
}


.page-header-purchase-busket:hover {
  background-color: #212a3a;
}

.page-header-purchase-busket:active {
  background-color: #161d29;
  color: #494c53;
}

.page-header-purchase-order {
  width: 150px;
  background-color: #63a63e;
}

.page-header-purchase-order:hover {
  background-color: #5fbb2d;
}

.page-header-purchase-order:active {
  background-color: #518534;
  color: #494c53;
}

.header-middle {
  margin-top: 0;
  padding: 0;
  min-height: 158;

  display: flex;

  background-color: #f3f7f9;
}

.header-middle-description {
  margin-top: 50px;
  margin-left: 52px;
  padding: 0;

  width: 205px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-middle-phone {
  margin-top: 45px;
  margin-bottom: 10px;

  width: 270px;
  height: 43px;

  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.header-middle-address {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-middle-user-navigation {
  margin-top: 45px;
  display: flex;

  list-style: none;
}

.header-middle-user-navigation a {
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.header-middle-login a:hover {
  color: #ee3643
}

.header-middle-login a:active {
  color: #b2b2b2
}

.header-middle-registration a:hover {
  color: #ee3643
}

.header-middle-registration a:active {
  color: #b2b2b2
}

.header-middle-logon{
  list-style: none;
}

.header-middle-logon a{
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}
.header-middle-logon-user a {
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.header-middle-logon-user a:active {
  color: #b2b2b2;
}

.header-middle-orders a:hover {
 color: #ee3643;
}

.header-middle-orders a:active {
  color: #b2b2b2;
}

.header-middle-account a:hover {
  color: #ee3643;
 }

 .header-middle-account a:active {
   color: #b2b2b2;
 }

.main-navigation {
  background-color: #32425c;
}

.site-navigation{
  margin: 0 auto;
  padding: 0;
  display: flex;

  justify-content: center;


  min-height: 60px;

  list-style: none;
}

.site-navigation-item {
  min-width: 100px;
  padding: 20px;
  text-align: center;
}

.site-navigation-item a:hover{
  background-color: #293449;
}
.site-navigation-item a:active{
  background-color: #1d2739;
  color: #a8abaf;
}

.main-navigation a {
  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
}

.promo-block {

  background-color: #ffffff;
}

.promo-list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;


  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo-list a {
  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
}

.promo-item {
  margin: 20px;
  width: 300px;
  height: 123px;
  font-style: bold;
  font-size: 24px;
  line-height: 30px;
}

.promo-item.materials-promo {
  background-color: #ffbf47;
}

.promo-item.materials-promo a {
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-item.materials-promo a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item.materials-promo a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-item.instruments-promo {
  background-color: #3bbce3;
}

.promo-item.instruments-promo a {
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-item.instruments-promo a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item.instruments-promo a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-item.tech-promo {
  background-color: #dc91d8;
}

.promo-item.tech-promo a {
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-item.tech-promo a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item.tech-promo a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-item.discounts-promo {
  background-color: #8ed78f;
}

.promo-item.discounts-promo a {
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-item.discounts-promo a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item.discounts-promo a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-item.delivery-promo {
  background-color: #ffc047;
}

.promo-item.delivery-promo a {
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-item.delivery-promo a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item.delivery-promo a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-item.drills-promo {
  font-family: PTsans;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #513930;
}

.promo-item.drills-title {
  font-family: Cuprum;
  font-style: bold;
  font-size: 36px;
  line-height: 36px;
}

.promo-item.drills-promo a {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  background-color: #ee3643;
  color: #ffffff;
}

.promo-item.drills-promo a:hover{
  background-color: #ca2c37;
}

.promo-item.drills-promo a:active{
  background-color: #ba2732;
}

.promo-link {
  font-size: 14px;
  line-height: 18px;
}

.popular-title {
  font-size: 30px;
  line-height: 30px;
  background-color: #f9f5f0;
  color: #32425c;
}

.popular-button {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  background-color: #ee3643;
  color: #ffffff;
}

.popular-button:hover {
  background-color: #ca2c37;

}

.popular-button:active {
  background-color: #ba2732;
}

.popular-list {
  background-color: #ffffff;
  list-style: none;
}

.popular-item_title {
  font-family: 'PTsans', sans-serif;
  font-style: bold;
  font-size: 18px;
  line-height: 20px;
}

.popular-item {
  margin: 20px;
  width: 220px;
  height: 317px;
  border: 1px solid lightgray;
}
.popular-item:hover {
  box-shadow: 0 10px 20px #adb1b9;
}

.popular-item_old-price {
  font-family: 'PTsans', sans-serif;
  font-style: bold;
  font-size: 17px;
  line-height: 18px;
 color: #a9a9a9;
}

.popular-item_link {
  font-family: 'PTsans', sans-serif;
  font-style: bold;
  font-size: 17px;
  line-height: 18px;
  background-color: #ee3643;
  color: #ffffff;
}

.makers-tittle {
  background-color: #f9f5f0;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
}

.makers-button {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  background-color: #ee3643;
  color: #ffffff;
}

.makers-button:hover {
  background-color: #ca2c37;

}

.makers-button:active {
  background-color: #ba2732;
}

.makers-list {
  background-color: #ffffff;
  list-style: none;
}

.makers-item {
  margin: 30px;
  width: 220px;
  height: 145px;
  border: 1px solid lightgray;
}

.makers-item:hover {
  box-shadow: 0 10px 20px #adb1b9;
}

.makers-item:active {
  box-shadow: 0 5px 15px #8f929d;
  opacity: 0.25;
}

.service-block {
  background-color: #f3f7f9;
}

.service-title {
  font-size: 30px;
  line-height: 30px;
}

.service-list {
  font-size: 21px;
  line-height: 30px;
  background-color: #32425c;
  color: #ffffff;
  list-style: none;
}

.service-list li:hover {
  background-color: #293449;
}

.service-list li:focus {
  background-color: #ffffff; color: 32425c;
}

.service-describe {
  font-family: 'PTsans', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.service-list-delivery-title {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.service-list-delivery-text {
  font-family: 'PTsans', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.service-list-warranty-title {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.service-list-warranty-text {
  font-family: 'PTsans', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.service-list-credit-title {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.service-list-credit-text {
  font-family: 'PTsans', sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.service-list-items {
  list-style: none;
}

.credit-button {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  background-color: #ee3643;
  color: #ffffff;
}

.credit-button:hover {
  background-color: #ca2c37;
}

.credit-button:active {
  background-color: #ba2732;
}

.company {
  background-color: #ffffff;
}

.company-title {
  font-size: 30px;
  line-height: 30px;
}

.company-describe {
  font-size: 13px;
  line-height: 24px;
}

.transport-list {
  list-style: none;
}

.transport-list-item {
  font-size: 18px;
  line-height: 20px;
}

.aboutus-button {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  background-color: #ee3643;
  color: #ffffff;
}

.aboutus-button:hover {
  background-color: #ca2c37;
}

.aboutus-button:active {
  background-color: #ba2732;
}

.contacts-title {
  font-size: 30px;
  line-height: 30px;
}

.contacts-desription {
  font-size: 13px;
  line-height: 24px;
}

.map-button {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  background-color: #ee3643;
  color: #ffffff;
}

.map-button:hover {
  background-color: #ca2c37;
}

.map-button:active {
  background-color: #ba2732;
}

.page-footer {
  background-color: #32425c;
}

.footer-left {
  display: flex;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-style: normal;
}

.footer-navigation {
  list-style: none;
}

.footer-navigation a {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}

.footer-navigation a:hover {
 text-decoration: underline;
}

.footer-navigation a:active {
 color: #a4abb4;
}

.catalog-links {
  list-style: none;
}

.catalog-links a {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #ffd180;
}

.catalog-links a:hover {
  text-decoration: underline;
 }

 .catalog-links a:active {
  color: #ad956f;
 }

.footer-bottom {
    background-color: #293449;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-feedback_mail {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-feedback_mail a:hover {
  text-decoration: underline;
 }

 .footer-feedback_mail a:active {
  color: #db3644;
 }

.footer-feedback_mail-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffd180;
}

.footer-feedback_powered-by {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-feedback_powered-by a:hover {
  text-decoration: underline;
 }

 .footer-feedback_powered-by a:active {
  color: #db3644;
 }

.footer-feedback_link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffd180;
}
.modal {
  background-color: #ffffff;
}
.modal-write-us-form input {
  border: 2px solid #d7dcde;
}
.modal-write-us-form input:hover {
  border: 2px solid #b5b5b5;
}
.modal-write-us-form input:focus {
  border: 2px solid #ee3643;
}
.modal-write-us-form textarea {
  border: 2px solid #d7dcde;
}
.modal-write-us-form textarea:hover {
  border: 2px solid #b5b5b5;
}
.modal-write-us-form textarea:focus {
  border: 2px solid #ee3643;
}

.modal-write-us {
  font-size: 18px;
  line-height: 18px;
}
.modal-submit {
  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
  background-color: #ee3643
}

.modal-submit:hover {
  background-color: #ca2c37;
}

.modal-submit:active {
  background-color: #ba2732;
}

.breadcrumbs {
 list-style: none;
}

.breadcrumbs a {
  font-family: 'PTsans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}
.catalog-section {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}

.filters-title {
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
}

.filter-price-title {
  font-family: 'PTsans', sans-serif;
  font-style: bold;
  font-size: 17px;
  line-height: 30px;
  background-color: #ffffff;
}

.filter-price-value {
  background-color: #f7f3ec;
}

.filter-price-min{
  background-color: #f7f3ec;
  font-size: 17px;
  line-height: 18px;
}

.filter-price-max{
  background-color: #f7f3ec;
  font-size: 17px;
  line-height: 18px;
}

.filter-makers {
  font-family: 'PTsans', sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.filter-makers-title {
  font-family: 'PTsans', sans-serif;
  font-style: bold;
  font-size: 17px;
  line-height: 30px;
  background-color: #ffffff;
}
.filter-power {
  font-family: 'PTsans', sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.filter-power-title {
  font-family: 'PTsans', sans-serif;
  font-style: bold;
  font-size: 17px;
  line-height: 30px;
  background-color: #ffffff;
}

.show-button {
  font-family: 'PTsans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
}
.sort-title {
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec
}

.sort-list{
  list-style: none;

}

.sort-item a {
  font-family: 'PTsans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: #d4d1cb;
  border-bottom:#F00 1px dotted;
}

.sort-item a:hover {
  color: #000000;
  border-bottom:#F00 1px solid;
}

.sort-item a:focus{
  color: #F00;
  border-bottom: #ffffff 1px solid;
}

.catalog-item_title {
  font-family: 'PTsans', sans-serif;
  font-style: bold;
  font-size: 18px;
  line-height: 20px;
}

.catalog-list {
 list-style: none;
}

.catalog-item {
  margin: 20px;
  width: 220px;
  height: 317px;
  border: 1px solid lightgray;
}

.catalog-item:hover {
  box-shadow: 0 10px 20px #adb1b9;
}

.catalog-item-new {
  margin: 20px;
  width: 220px;
  height: 317px;
  border: 1px solid lightgray;
}

.catalog-item-new:hover {
  box-shadow: 0 10px 20px #adb1b9;
}

.catalog-item_old-price {
  font-family: 'PTsans', sans-serif;
  font-style: bold;
  font-size: 17px;
  line-height: 18px;
 color: #a9a9a9;
}

.catalog-item_link {
  font-family: 'PTsans', sans-serif;
  font-style: bold;
  font-size: 17px;
  line-height: 18px;
  background-color: #ee3643;
  color: #ffffff;
}

.catalog-item_offer a {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none
}

.catalog-item_buy {
  background-color: #63a63e;
  color: #ffffff;
}

.catalog-item_buy:hover {
  background-color: #5fbb2d;
}

.catalog-item_buy:active {
  background-color: #518534;
}

.catalog-item_marked {
  background-color: #ffffff;
  color:#32425c;
  border: 1px solid #63a63e;
}

.catalog-item_marked:hover {
  border: 1px solid #32425c;
}

.catalog-item_marked:active  {
  border: 1px solid #c1c6ce;
  color:#d6d8dc;
}

.pagination-list {
 list-style: none;
}

.pagination-list a {
  font-family: 'PTsans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
  border: 1px solid #e5e5e5;
}
.pagination-list a:hover {
  border: 1px solid #bdc6ca;
}
.pagination-list a:active {
  border: 1px solid #ee3643;
}
.pagination-list a:focus {
  background-color: #ee3643;
  color: #ffffff;
  border: 1px solid #ee3643;
}

.about-perforators {
  background-color: #f2f6f8;
}

.perforators-title {
  font-size: 30px;
  line-height: 30px;
}

.perforators-description {
  font-size: 13px;
  line-height: 24px;
}

.notify-added {
  font-size: 30px;
  line-height: 30px;
}

.modal-place-order {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}
.modal-continue-shopping {
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
}

